# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

az ad sp create-for-rbac -n "TerraformSP" --role contributor \
  --scopes /subscriptions/az ad sp create-for-rbac -n "TerraformSP" --role contributor \
  --scopes /subscriptions/abeff472-9fa9-4f63-82da-3c2dd66e2525


  az ad sp create-for-rbac -n "TerraformSP" --role contributor --scopes /subscriptions/abeff472-9fa9-4f63-82da-3c2dd66e2525

  az ad sp create-for-rbac -n "http://backendstate" --role Contributor --scopes /subscriptions/abeff472-9fa9-4f63-82da-3c2dd66e2525/resourceGroups/rg-terraformstate
